<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/style.css">
    <link rel = "stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class = "d-flex justify-content-center flex-column">

    <div class="d-flex justify-content-center">
        <form action="/" method = "POST">
            <div class="form-title">

            </div>

            <div class="form-body">
                <div class="mb-3">
                    <label for = "registro_nombre_completo" class="form-label">Nombre completo</label>
                    <input class = "form-control" id = "registro_nombre_completo" type="text" name = "nombre_completo" required>
                </div>

                <div class="mb-3">
                    <label for = "registro_correo" class = "form-label">Correo electrónico</label>
                    <input class = "form-control" id = "registro_correo" type = "email" name = "correo" required>
                </div>

                <div class="mb-3">
                    <label for = "registro_password" class="form-label">Contraseña</label>
                    <input type = "password" class = "form-control" id = "registro_password" name = "password" required>
                </div>
                
                <div class="mb-3">
                    <label for = "registro_telefono" class = "form-label">Teléfono</label>
                    <input class = "form-control" id = "registro_telefono" name = "telefono" type="tel">
                </div>

                <div class="mb-3">
                    <label for = "registro_concesionario" class = "form-label">Concesionario</label>
                    <select>
                        <option selected disabled value="">Selecciona un concesionario</option>
                        <% concesionarios.forEach(concesionario =>{ %>
                            <option value = "<%= concesionario.id %>"><%= concesionario.nombre %></option>
                        <% })%>
                    </select>
                </div>
            </div>
            

        </form>
    </div>
    
</body>
</html>